@model List<SampleClassModel>
@{
    ViewData["Title"] = "Home Page";
}

<div id="mainContainer" class="container-fluid">
    @foreach (var sample in Model)
    {
        <div class="row">
            <div class="col-lg-4">
                @sample.Name
            </div>
            <div class="col-lg-4">
                @sample.Description
            </div>
            <div class="col-lg-4">
                <button onclick="showSampleThing('@sample.Id')">@sample.Timestamp.ToString()</button>
            </div>
        </div>
    }
</div>